<app-page [navSelectedItem]="HeaderOptions.Disciplinas">
	<div>
		<tr>
			<td>
				<input type="text" class="form-control has-feedback-left" placeholder="Disciplina" required ng-model="crud.discipline">
			</td>
			<td>
				<input type="text" class="form-control has-feedback-left" placeholder="Professor" required ng-model="crud.professor">
			</td>
			<td>
				<input type="text" class="form-control has-feedback-left" placeholder="Coordenador" required ng-model="crud.coordenador">
			</td>
			<td>
				<button type="button" class="btn btn-info" [routerLink]="'/Disciplinas'">Submeter</button>
			</td>
			<td>
			</td>
		</tr>
	</div>
</app-page>
