/* Raw colors */

$blue-dark: #014276;
$blue-light: #3fa0db;
$dark-grey: #303030;
$grey: #eaeaea;
$red: #dc3545;

/* Reference colors */

$font-color: $dark-grey;
$navbar-color: $blue-light;
$secondary-color: $blue-dark;
