<!--a href="https://stmed.net/wallpaper-24407"><img class="img img-responsive gfg" typeof="foaf:Image" src="https://stmed.net/sites/default/files/dark-blue-wallpapers-25191-6524441.jpg" width="" height="" alt="Dark Blue Wallpaper 22 - 2880 X 1800" title="Dark Blue Wallpaper 22 - 2880 X 1800" /></a-->
<div class="bg html">
  <div class="image" id="login">
    <h1>Log in</h1>
    <form>
      <input type="user" placeholder="Usuário" />
      <input type="password" placeholder="Password" />
      <input type="submit" value="Log in" />
    </form>
  </div>
</div>